<div class="mb-3 input-group">
  <span class="input-group-text">Song Search</span>

  <input type="text" name="song_search" id="song_search" value="" list="song-select-list" class="form-control" {%
    include "django/forms/widgets/attrs.html" %}>

  <button id="search_add" class="btn btn-primary" type="button">add</button>
</div>

<datalist id="song-select-list">
</datalist>
<select name="setlist" id="setlist" multiple class="form-select" {% if widget.disabled %} disabled {% endif %}>
  {% for choice in widget.choices %}
  <option value="{{choice.value}}" selected class="setlist-button">
    {{ choice.label }}
  </option>
  {% endfor %}
</select>