html {
    overflow-y: scroll;
}

body {
    background-color: #0f0f13;
    color: white;
    padding-top: 64px;
}

/* navbar */
.navbar-translucent {
    background: radial-gradient(circle at bottom center, rgba(58, 58, 92, 0.7) 0%, rgba(15, 15, 19, 0.7) 70%);
    backdrop-filter: blur(5px);
}

.navbar-brand {
    font-size: 2rem;
}

.nav-link {
    font-weight: bold;
}

.navbar .nav-link {
    color: #bbbbbb !important;
    transition: color 0.3s ease;
}

.navbar .nav-link:hover {
    color: #ffffff !important;
}

/* tour page */
.custom-card {
    background-color: #1e1e2f;
    color: white;
    border: 1px solid white;
}

.review-image-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-image {
    width: 80%;
    max-width: 1000px;
    max-height: 1000px;
    object-fit: cover;
    border-radius: 10px;
}

/* allGenres page */
button img {
  transition: 0.2s;
}

button:hover img {
  transform: scale(1.05);
}

/* artist page */ 

.artistCard .card{
    background-color: #1e1e2f;
    color: white;
    border: 1px solid white;
}
.artistCard .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#artistName{
    text-align: center;
    color:rgb(255, 255, 255);
}

/* home page*/

.highlight-tour-carousel img {
    height: 50vh;
    object-fit: cover;
}

.popular-tour-card img {
    height: 50vh;
    object-fit: cover;
}

.popular-tours-heading {
    background: radial-gradient(circle at center, rgba(58, 58, 92, 0.7) 0%, rgba(15, 15, 19, 0.7) 70%);
}

.popular-tour-card-body {
    background: radial-gradient(circle at top center, rgba(58, 58, 92, 0.7) 0%, rgba(15, 15, 19, 1) 70%);
}

/* genre page */
#genreName{
    text-align: center;
    text-transform: capitalize;
}

/* registration page */
.no-scroll {
    height: 100vh;
    overflow: hidden;
}

.card {
    background-color: rgb(37, 37, 58);
}