
body {
    background-color: #16161D;
    color: white
}

#artistName{
    color:rgb(255, 255, 255);
    text-align: center;
}

.artistCard .card{
    background-color: #1e1e2f;
    color: white;
    border: 1px solid white;
}