{% extends 'base.html' %}
{% load static %}

{% block title_block %}
    Genres
{% endblock %}

{% block body_block %}
<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-center gap-4">
            {% for genre in genres %}
            <div class="flex-shrink-0" style="width: 300px;">
                <a href="{% url 'concertainly:genre' genre %}" class="d-block">
                    <button class="btn p-0 border-0 w-100">
                        <img src="{% static 'images/'|add:genre|add:'.png' %}"
                            class="img-fluid rounded w-100">
                    </button>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}