{% extends 'base.html' %}
{% load static %}

{% block title_block %}
    {% if artist %}
        {{ artist.name }}
    {% endif %}
{% endblock %}

{% block body_block %}
<div class="container py-4">
    <a href="{% url 'concertainly:genre' genre %}" class="btn btn-secondary ">
            &larr; Back to {{ genre }} artists
    </a>
    {% if artist %}
            <h1 id="artistName">{{ artist.name }}</h1><br>
    {% endif %}

    {% if tours %}
        <div class="col popular-tour-card">
            <div class="row row-cols-2 row-cols-md-3">
                {% for tour in tours %}
                <div class="col">
                    <a href="{% url 'concertainly:tour' tour.slug %}" class="text-decoration-none">
                    <div class="card rounded-0 border-0 h-100">
                        <img src="{% static tour.image %}" class="card-img-top rounded-0" alt="popular tour">
                        <div class="card-body popular-tour-card-body text-center">
                        <h5 class="card-title mb-1" >{{ tour.name }}</h5>
                        </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

