{% extends 'base.html' %}
{% load static %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}

{% if highlight_tour %}

<div class="highlight-tour-carousel">
  <div id="highlightTours" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#highlightTours" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#highlightTours" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#highlightTours" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static tour1.image %}" class="d-block w-100" alt="highlight tour">
        <div class="carousel-caption d-none d-md-block">
          <p><a href="{% url 'concertainly:tour' tour1.slug %}" class="btn btn-dark">{{ tour1.name }}</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static tour2.image %}" class="d-block w-100" alt="highlight tour">
        <div class="carousel-caption d-none d-md-block">
          <p><a href="{% url 'concertainly:tour' tour2.slug %}" class="btn btn-dark">{{ tour2.name }}</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static tour3.image %}" class="d-block w-100" alt="highlight tour">
        <div class="carousel-caption d-none d-md-block">
          <p><a href="{% url 'concertainly:tour' tour3.slug %}" class="btn btn-dark">{{ tour3.name }}</a></p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#highlightTours" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#highlightTours" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

{% endif %}


<div class="popular-tours-heading d-flex justify-content-center align-items-center py-3">
    <h2 class="m-0 text-white">Popular Tours</h2>
</div>

<div class="col popular-tour-card">
  <div class="row row-cols-2 row-cols-md-3">
    {% for tour in popular_tours %}
      <div class="col">
        <a href="{% url 'concertainly:tour' tour.slug %}" class="text-decoration-none">
          <div class="card rounded-0 border-0 h-100">
            <img src="{% static tour.image %}" class="card-img-top rounded-0" alt="popular tour">
            <div class="card-body popular-tour-card-body text-center">
              <h5 class="card-title mb-1" >{{ tour.name }}</h5>
              <p class="card-text text-muted">{{ tour.artist.name }}</p>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}