{% extends 'base.html' %}

{% load static %}

{% block title_block %}
Tour Reviews
{% endblock %}

{% block body_block %}

<form action="review" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {% for hidden in form.hidden_fields %}
  {{ hidden }}
  {% endfor %}

  <section class="mx-3 mt-3">
    <h2>Review</h2>
    <div class="mb-3">
      {{form.title}}
    </div>

    <div class="mb-3 input-group">
      {% for radio in form.rating %}
      <div class="form-check form-check-inline">
        {{ radio.tag }}
        <label for="{{ radio.id_for_label }}" class="form-check-label">
          {{ radio.choice_label }}
        </label>
      </div>
      {% endfor %}

      {% if field.errors %}
      <div class="invalid-feedback">
        {{ form.rating.errors|striptags }}
      </div>
      {% endif %}
    </div>

    <div class="mb-3">
      {{form.comment}}
    </div>

    <div class="mb-3">
      {{form.review_photo}}
    </div>
  </section>



  <section class="mx-3 mt-3">
    <h2>About</h2>

    {{form.artist_select}}

    {{form.tour_select}}

    {{form.venue_select}}

    {{form.date}}
  </section>

  <input type="submit" value="Post Review!" class="mx-3 mt-3 btn btn-primary">
</form>

<!-- <script src="{% static 'review.js' %}"></script> -->

{% endblock %}